
header.ui.page.grid > .row > .column
	max-width 960px
	box-shadow rgba(0,0,0,0.35) 0px 5px 10px 0px
	background #fff url(http://breminale.sternkultur.de/images/layout/header.jpg) top left no-repeat
	border-bottom #f22 6px solid

header.ui.page.grid > .row > .column.connected
		border-bottom #2f2 6px solid


header img.event
	position absolute
	right	0px
