header.ui.page.grid#header(ng-controller='HeaderCtrl')
	.row
		.column(ng-class="{'connected':connected}")
			img(src='http://bremen.freifunk.net/images/logo/homepage.png')
			img.event(src='http://breminale.sternkultur.de/images/layout/logo.png')
