.ui.page.grid
	.row(ng-include="'components/navbar/header.html'")
.ui.grid#navbar(ng-controller='NavbarCtrl')
	.computer.tablet.only.ui.page.grid
		.row
			.column
				.ui.menu.inverted
					a.item(ui-sref='index',ui-sref-active='active')
						i.icon.home
						| {{'Home'|translate}}
					a.item(ui-sref='feed',ui-sref-active='active')
						i.icon.home
						| {{'Feed'|translate}}
					a.item(ui-sref='about',ui-sref-active='active')
						i.icon.mail
						| {{'About'|translate}}
	.mobile.only.ui.menu.inverted.top.fixed.grid.page
		.menu.open
			a.item(ng-click='toggleMenu()')
				i.icon.content.vertical
			a.brand.item breminale.ffhb.de
#navbarSidebar.row.ui.sidebar.left.vertical.inverted.menu.labeled.icon
	a.item(ui-sref='index',ui-sref-active='active')
		i.icon.home
		| {{'Home'|translate}}
	a.item(ui-sref='feed',ui-sref-active='active')
		i.icon.home
		| {{'Feed'|translate}}
	a.item(ui-sref='about',ui-sref-active='active')
		i.icon.mail
		| {{'About'|translate}}
