header.ui.grid
	margin-top 10px
	margin-bottom 20px

main.ui.grid
	margin-top 20px

// Component styles are injected through grunt
// injector
@import 'main/main.styl';
@import 'navbar/navbar.styl';
// endinjector
