body
	min-width 320px
	background #f7f7f7
	margin 0px

body,*
	font-family Lato,'Helvetica Neue',Arial,Helvetica,sans-serif
	font-size 1em
	line-heigh 1.33
	box-sizing inherit

@import 'navbar.styl'

.box
	margin-top 15px
	box-shadow 0 0 0 1px rgba(39,41,43,.15),0 1px 2px 0 rgba(0,0,0,.05)
	border-radius .2857rem
	background #fff

main .box
	padding 15px

main
	margin-top 20px
	margin-bottom 40px

.wrapper
	width auto
	margin-left 0px
	margin-right 0px
	padding-left 0
	padding-right 0

@media only screen and (min-width: 768px)
	.wrapper
		padding-left 4em
		padding-right 4em
@media only screen and (min-width: 992px)
	.box
		margin-top 30px
	header.box
		margin-top 45px
	.wrapper
		padding-left 8%
		padding-right 8%
@media only screen and (min-width: 1400px)
	.box
		margin-top 30px
	header.box
		margin-top 45px
	.wrapper
		padding-left 15%
		padding-right 15%
@media only screen and (min-width: 1920px)
	.box
		margin-top 30px
	header.box
		margin-top 45px
	.wrapper
		padding-left 25% !important
		padding-right 25% !important

.bar
	border-bottom 1px solid rgba(39,41,43,.15)
	padding-bottom 10px
	margin-bottom 20px

	span
		width 75px

	.button
		margin 3px

	> *
		display inline-block
//	#refresh
//		float right

.box.icon
	text-align center
	img
		margin 3%
		width 38%

#feed
	.event
		padding .5rem 0
		display table
		width  100%
		> *
			display	table-cell
			vertical-align top
			text-align left

		.label
			padding-top .7rem
			width 1em
			height 2.5em
			color rgba(0,0,0,.6)

			.fa
				font-size 1.5em

		.content
			padding .5em 0 .5em 1.25em

			.date
				padding 0
				font-weight 400
				font-size 1em
				font-style normal
				color rgba(0,0,0,.4)
			.summary
				color rgba(0,0,0,.8)
				font-weight 700
				font-height 1
				word-wrap break-word
				overflow hidden

			.meta
				font-size .71428571rem
				margin .5em 0 0
#state
	padding 5px

.dimmer.active
	z-index 800
	background-color rgba(0,0,0,0.85)
	border-radius	.2873rem

	*
		z-index 800
		background-color rgba(0,0,0,0.1)

.button
	background-color #e0e0e0
	color rgba(0,0,0,.6)
	margin 0 .25em 0 0
	padding .78571em 1.5em
	border-radius .2857rem
	box-shadow 0 0 0 1px transparent inset,0 0 0 0 rgba(39,41,43,.15)inset
	display inline-block
	line-height 1
	font-weight 700

.button.active 
	background-color #3b83c0
	color	#fff
