body
	background #f7f7f7
	min-width 320px
	margin 0px
.box
	box-shadow 0 0 0 1px rgba(39,41,43,.15),0 1px 2px 0 rgba(0,0,0,.05)
	border-radius .2857rem
	background #fff
main
	margin-top 20px
	margin-left 3px
	margin-right 3px
//	background #fff
//	border 1px solid #DDDDDD
//	border-radius 0.2857rem
//	box-shadow 0px 0px 2px 0px rgba(0, 0, 0, 0.05)

.wrapper
	width auto
	margin-left 0px
	margin-right 0px
	padding-left 0
	padding-right 0
@media only screen and (min-width: 768px)
	.wrapper
		padding-left 4em
		padding-right 4em
@media only screen and (min-width: 992px)
	.wrapper
		padding-left 8%
		padding-right 8%
@media only screen and (min-width: 1400px)
	.wrapper
		padding-left 15%
		padding-right 15%
@media only screen and (min-width: 1920px)
	.wrapper
		padding-left 25% !important
		padding-right 25% !important

// Component styles are injected through grunt
// injector
@import 'navbar.styl';
// endinjector
