main.ui.grid .row
	margin-top 20px
	margin-left 3px
	margin-right 3px
//	background #fff
//	border 1px solid #DDDDDD
//	border-radius 0.2857rem
//	box-shadow 0px 0px 2px 0px rgba(0, 0, 0, 0.05)



// Component styles are injected through grunt
// injector
@import 'app/main/main.styl';
@import 'components/navbar/navbar.styl';
// endinjector
