doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible',content='IE=edge')
		title Breminale.ffhb.de
		meta(name='description',content='')
		meta(name='viewport',content='width=device-width, initial-scale=1, user-scalable=no')
		// Place favicon.ico and apple-touch-icon.png in the root directory
		// build:css app.css
		link(rel='stylesheet' href='bower_components/font-awesome/css/font-awesome.css')
		link(rel='stylesheet' href='app.css')
		// endbuild
	body
		.wrapper
			header.box
				img.ffhb(src='assets/logo_ffhb.png')
				img.goes.computer.tablet.only(src='assets/header_goes.png')
				img.breminale(src='assets/logo_breminale.png')
			main
				.box
					h1 Freifunk Bremen – WLAN für alle, überall
					p
					| Es gibt
					b  WLAN
					|  auf der Breminale!
					| Das offene WLAN
					b  bremen.freifunk.net
					|  bietet euch freien Zugang zum Internet.
					| Realisiert wird dies von Bürgern an bereits über 200 Standorten in Bremen. Das Ziel der Freifunker besteht darin viele WLAN-Router aufzustellen, welche sich untereinander verbinden und so ein lokales Netzwerk mit Internetzugang in Bürgerhand aufbauen. Jeder kann Freifunk nutzen oder rechtssicher selbst anbieten - beispielsweise für Gäste.
					| Alle Infos und Fragen bekommt ihr beantwortet beim Freifunk-Stand am Fahnenmast und auf bremen.freifunk.net
				.box
					h1 Feed
					.bar
						| Filter: &nbsp;
						#filter
							.button(name='') All
							.button(name='twocootstravel') twocootstravel
							.button(name='StateParkSunday') StateParkSunday
						.button#refresh
							i.fa.fa-refresh
					.dimmer#feed
				#state
		footer
		// script(src='//localhost:35729/livereload.js')
		// build:js app.js
		script(src='app.js')
		// endbuild
