doctype html
html(ng-app='ffhbApp')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible',content='IE=edge')
		title Breminale.ffhb.de
		meta(name='description',content='')
		meta(name='viewport',content='width=device-width, initial-scale=1, user-scalable=no')
		// Place favicon.ico and apple-touch-icon.png in the root directory
		// build:css app.css
		link(rel='stylesheet' href='bower_components/font-awesome/css/font-awesome.css')
		link(rel='stylesheet' href='app.css')
		// endbuild
	body(ng-controller='MainCtrl')
		.wrapper
			header.box
				img(src='assets/header.png')
			main
				.box
					h1 Freifunk Bremen – WLAN für alle, überall
					p
					| Es gibt
					b  WLAN
					|  auf der Breminale!
					br
					| Das offene WLAN
					b  bremen.freifunk.net
					|  bietet euch freien Zugang zum Internet.
					br
					| Realisiert wird dies von
					b  Bürgern
					|  an bereits über 200 Standorten in Bremen. Das Ziel der Freifunker besteht darin viele WLAN-Router aufzustellen, welche sich untereinander verbinden und so ein lokales Netzwerk mit Internetzugang in Bürgerhand aufbauen. Jeder kann Freifunk nutzen oder rechtssicher selbst anbieten - beispielsweise für Gäste.
					br
					| Alle Infos und Fragen bekommt ihr beantwortet beim Freifunk-Stand am Fahnenmast und auf bremen.freifunk.net
				.box.icon
					a(href='http://breminale.sternkultur.de')
						img(src='assets/logo_breminale.png')
					| &nbsp;
					a(href='http://bremen.freifunk.net')
						img(src='assets/logo_ffhb_skyline.png')
					| &nbsp;
					a(href='https://play.google.com/store/apps/details?id=de.bjoernahlfeld.breminale2014')
						img(src='assets/app_android.png')
					| &nbsp;
					a(href='https://itunes.apple.com/de/app/breminale/id533394658?ls=1&mt=8')
						img(src='assets/app_iphone.png')
					| &nbsp;
				.box
					h1.clearfix Breminale Feed
						.button.right#refresh(ng-click='refresh()')
							i.fa.fa-refresh(ng-class='{"fa-spin":dimmer}')
							|    Aktualisieren
					.bar.clearfix
						.button(ng-click='setFilter("!undefined")',ng-class='{"active":(_filter=="!undefined")}') alle Posts
						.button(ng-click='setFilter("unwetter")',ng-class='{"active":(_filter=="unwetter")}') #unwetter
					.dimmer#feed(ng-class='{"active":dimmer}')
						div(ng-hide='a.length > 0')
							center(ng-show="_filter == '!undefined'") Keine Posts gefunden!
							center(ng-show="_filter != '!undefined'") Keine Posts für \#{{_filter}} gefunden!
						.event(ng-repeat='i in a=(feed|filter:{hashtags:_filter}:false)')
							.label
								i.fa.fa-facebook
							.content
								.date {{i.created_time|date:'EEEE d.M, HH:mm'}}
								.summary(ng-bind-html='i.message|parseUrl')
								.meta
									.button(ng-repeat='t in i.hashtags',ng-click='setFilter(t)') \#{{t}}
				#state
					p
						| last refresh: {{state.lastUpdate*1000|date:'dd.MM.yyyy HH:mm:ss'}}
						br
						| count of refresh: {{state.Iterator}}
		footer
		// script(src='//localhost:35729/livereload.js')
		// build:js app.js
		script(src='bower_components/angularjs/angular.min.js')
		script(src='bower_components/angular-i18n/angular-locale_de.js')
		script(src='app.js')
		// endbuild
