#navbar .mobile .ui.grid .menu
	padding 0px

#navbar .ui.vertical.menu
	width auto
	padding 0px

#navbar .mobile > *
	margin 0px

// Runde Ecken Mobil bug fix
#navbar .mobile .ui.menu
	border-radius 0
