#navbar
	margin-left 0px
	margin-right 0px

#navbar > *,
#navbar .mobile .ui.grid .menu
	padding 0px

#navbar .ui.vertical.menu
	width auto
	padding 0px

#navbar .mobile > *
	margin 0px

#navbar.ui.sticky.fixed
	left 0
	right 0

// Keine Transparens wenn gescrollt wird
#navbar.fixed .computer.tablet.only .ui.menu
	background-color white

// Runde Ecken Mobil bug fix
#navbar .mobile .ui.menu
	border-radius 0
