main.ui.page.grid.main
	.row
		.column
			h1.ui.header {{'Features'|translate}}:
			.ui.bulleted.list
				a.item(ng-repeat='thing in awesomeThings')
					| {{thing.name}}
	.row
		.column
			p(style='height:1000px;')
				| Webseite ist aktuell, solange der Balken unter den Header Grün ist.
				| Sie können Live benachrichtigt werden, gehen sie dazu auf Nachrichten und aktivieren Sie die Benachrichtigungen .
