main.ui.page.grid.main
	.row
		.column
			span Active:
			.ui.button.mini.negative(ng-show='!session.notify',ng-click="notifyToggle()") OFF
			.ui.button.mini.positive(ng-show='session.notify',ng-click="notifyToggle()") ON
			span Filter:
			.ui.basic.buttons.mini
				.ui.button(ng-click='setFilter("")') All
				.ui.button(ng-click='setFilter("weather")') Weather
				.ui.button(ng-click='setFilter("changes")') Changes
				.ui.button(ng-click='setFilter("events")') Events
				.ui.button(ng-click='setFilter("other")') Other
	.row
		.column
			.ui.divided.items
				.item(ng-repeat='item in items|filter:{type:_filter}')
					.ui.tiny.image
						img(src='{{item.image}}')
					.content
						.header {{item.title}}
							.meta
								.cinema {{item.subtitle}}
						.description
							p {{item.text}}
						.extra
							.ui.label {{item.type}}
							.ui.label(ng-repeat='label in item.label') {{label}}
