main.ui.page.grid.main
	.row
		.column.ui.segment
			h1.ui.header {{'Feeds'|translate}}
			| Filter: &nbsp;
			.ui.basis.buttons.mini
				.ui.button(ng-click='setFilter("")',ng-class='{"primary":(_filter=="")}') All
				.ui.button(ng-click='setFilter("twocootstravel")',ng-class='{"primary":(_filter=="twocootstravel")}') twocootstravel
				.ui.button(ng-click='setFilter("StateParkSunday")',ng-class='{"primary":(_filter=="StateParkSunday")}') StateParkSunday
			.ui.button.mini.right(ng-click='refresh()')
				i.icon.refresh
	.row
		.column.ui.segment
			.ui.feed
				.event(ng-repeat='item in list|filter:{hashtags:_filter}')
					.label
						i.icon.newspaper
					.content
						.date {{item.created_time|date:'EEE HH:mm'}}
						.summary {{item.message}}
						.meta
							.ui.button.mini(ng-repeat='tag in item.hashtags',ng-click='setFilter(tag)') {{tag}}
			.ui.dimmer(ng-class='{"active":loading}')

	.row
		.column
			p
				| last refresh: {{lastUpdate*1000|date:'dd.MM.yyyy HH:mm:ss'}}
				br
				| count of refresh: {{Iterator}}
