main.ui.page.grid.main
	.row
		.column
			h1.ui.header {{'Login'|translate}}:
	.row
		.column
			form.ui.form.segment(ng-class='{"error":form_error,"success":session.login}',ng-submit='login()')
				.ui.message.error
					| {{'Login not possible'|translate}}!
				.ui.message.success
					| {{'Your are login'|translate}}!
				.field(ng-class='{"error":form_field_error.username}')
					label {{'Username'|translate}}
					.ui.left.icon.input
						i.icon.mail
						input(type='text',ng-model='obj.username')
				.field(ng-class='{"error":form_field_error.password}')
					label {{'Password'|translate}}
					.ui.left.icon.input
						i.icon.lock
						input(type='password',ng-model='obj.password')
				button.ui.labeled.icon.button(ng-class='{"loading":loading}')
					i.icon.sign.in
					| {{'Login'|translate}}
