main.ui.page.grid.main
	.row
		.column
			h1.ui.header {{'Active'|translate}}:
	.row
		.column
			.ui.message.success(ng-if='form_success',translate)
				| successfull active, welcome {{name}}
			form.ui.form.segment(ng-class='{"error":form_error}',ng-if='!form_success',ng-submit='active()',name='form')
				.field(ng-class='{"error":(form_field_error.mail || (form.mail.$dirty && form.mail.$error.email))}')
					label {{'Mail'|translate}}
					.ui.left.icon.input
						i.icon.mail
						input(type='email',ng-model='obj.mail',name='mail')
				.field(ng-class='{"error":form_field_error.code}')
					label {{'active code'|translate}}
					.ui.left.icon.input
						i.icon.lock
						input(type='password',ng-model='obj.code')
				button.ui.labeled.icon.button(ng-class='{"loading":loading}')
					i.icon.unlock
					| {{'active'|translate}}
