main.ui.page.grid.main
	.row
		.column
			h1.ui.header {{'About'|translate}}:

	.row
		.column
			p(style='height:1000px;')
				| Hier können Sie Ihr Miconware-Account für die folgenden Platformen verwalten.
