main.ui.page.grid.main
	.row
		.column
			h1.ui.header {{'Possible Profils'|translate}}:
			.ui.bulleted.list
				a.item(ng-repeat='thing in awesomeThings')
					| {{thing.name}}
	.row
		.column
			p(style='height:1000px;')
				| Hier können Sie Ihr Miconware-Account für die folgenden Platformen verwalten.
